[2019-03-01 10:20] fox1t opened #1 "Let's talk about, goals, features and porting quirks"
Hi, I am in the process of porting passport to Fastify. The goal of this project is to have 100% compatibility with all the passport strategies already developed.
I just finished porting the code 1:1 to TypeScript and now I am going to rewrite some parts that are not suitable anymore:
1. original project doesn't use strict mode
2. almost all types are wrong
3. some parts could be optimized and spe

[2019-03-02 18:30] mcollina commented on #1
Definitely. The "flash" is a concept born out of Ruby on Rails. I think the first step is to do a "fastify-flash" plugin that matches what passport needs. This is useful outside of passport. https://api.rubyonrails.org/classes/ActionDispatch/Flash.html.

I'll set up a repo for you: https://github.com/fastify/fastify-flash. Let me know if you need me to do anything. I've added Azure Pipelines. Once

[2019-03-04 13:51] fox1t commented on #1
Nice idea. I am going to work on fastify-flash then.
I absolutely agree on  "move from the middleware approach to Fastify lifecycle hooks": this is the frist and most important goal from the very beginning, otherwise we could just `fastify.use(passport)` XD

[2019-03-13 15:00] fox1t commented on #1
Now that we have [fastify-flash](https://github.com/fastify/fastify-flash), I think that we can move on with our discussion. 😀

[2019-03-13 16:13] mcollina commented on #1
What's the next step?

[2019-03-14 09:25] fox1t commented on #1
I really want to support as many passport's plugins as possible. I think I'll explore passport internals to find the best way to port it to fastify's hooks.

[2019-04-11 16:22] DragosRocsoreanu commented on #1
Is there any news on this implementation ?

[2019-04-11 20:56] fox1t commented on #1
Hi, I was really busy in the past month. I will return on this as soon as possibile. We all need this, definitely. Do you want to help?

[2019-04-19 15:14] siddiquiehtesham opened #2 "Will there be work on this plugin?"

[2019-04-19 21:38] Eomm commented on #2
We should check if it is still needed since we have all the standard auth like
https://github.com/fastify/fastify-oauth2
https://github.com/fastify/fastify-auth
https://github.com/fastify/fastify-jwt

In case what you think is missing? Would you like to contribute? 💪

Related to https://github.com/fastify/fastify/issues/1350

[2019-04-20 12:40] fox1t commented on #2
I think that having one login fastify plugin that can load login strategies is important in building nice ecosystem for end users. IMHO we absolutely have to build this kind of plugin.

[2019-04-20 13:13] mcollina commented on #2
I think so as well :D. We need help to finish off this module.

[2019-05-08 06:14] willin commented on #2
is it like express plugin passport?

[2019-05-14 15:24] gurpreetsingh2410 commented on #1
Hi, Let me know if you need any help. Thanks

[2019-06-21 16:04] fox1t commented on #2
Hi. I am happy to inform you that I am actively working again on this plugin.

[2019-06-21 16:10] siddiquiehtesham commented on #2
That seems to be interesting :)

[2019-06-23 21:39] millette commented on #2
FYI: I am also tempted to add oauth using `grant` instead of `passport`: <https://github.com/simov/grant/issues/123>

[2019-06-24 08:53] fox1t commented on #2
Let me know if you need any help with this. ;)

[2019-06-28 20:29] maumercado commented on #2
I would like to help build this, if there's anything I can help with, please let me know.

[2019-07-05 11:53] mcollina commented on #2
@fox1t are you still willing to lead this effort? If not, maybe @maumercado might take lead.

[2019-07-05 12:02] fox1t commented on #2
Hi. Yes I have a working plugin on my local machine. I think I’ll create a branch and push it there this weekend, so we can work on it together.
It is ok for you?

[2019-07-05 12:06] mcollina commented on #2
Awesome thanks!!

[2019-07-09 10:21] fox1t commented on #2
@mcollina sorry for bothering you. What is the best thing to do to share my code here and start discussing about the implementation? A new branch? PR on master? Something completely different?

Thanks in advice.

[2019-07-09 11:02] mcollina commented on #2
Either works, as you prefer. A PR might be easier to review.

[2019-08-12 09:07] fox1t commented on #2
Hi, I am asking for a help, here!
First of all I apologize for letting in stale this issue. I've been busy lately organizing another OSS huge project.

@maumercado are you still interested in doing this? My approach was to clone original [passport](https://github.com/jaredhanson/passport) and to transform it to a fastify plugin. It worked.
There were some minor fixable issues due to the fact that

[2019-08-12 09:09] mcollina commented on #2
@fox1t would you mind pushing your work so far?

[2019-08-12 09:10] fox1t commented on #2
OK, I'll do it!

[2019-08-12 09:19] fox1t commented on #2
@mcollina I just pushed the code here. https://github.com/fastify/fastify-passport/tree/init
All tests are missing and some deps are old. In addition to that I think this is a starting point to make code more fastify-like plugin.

[2019-08-17 07:33] SerayaEryn commented on #2
I‘d like to help, too. Please let me know if I can help somehow.

[2019-09-21 14:36] SerayaEryn commented on #2
I‘ll take a look at the branch and start to work on it.

[2019-10-12 16:10] Kolkies commented on #1
Any updates on this?

[2019-12-20 16:26] ivorpad commented on #1
@fox1t Let me know if you need help. I would love to have PassportJS support in Fastify.

[2019-12-20 17:07] fox1t commented on #1
Hi @ivorpad, thanks for reaching out!
You can find the work done till now on this PR: https://github.com/fastify/fastify-passport/pull/3
As you can see @SerayaEryn handled it. I am here to answer any questions you have or to review your code, if needed.

[2020-01-04 09:44] Eomm commented on #1
@ivorpad if you would like to send a PR to @SerayaEryn in order to complete the docs and test, I think it would speed up the process 👍

If @SerayaEryn agrees aswell

[2020-01-16 06:55] SerayaEryn commented on #1
@ivorpad Help would be welcome. I think we can merge the PR #3 to the master if that helps.

[2020-07-12 01:37] airhorns commented on #2
Did anyone make any progress on this?

[2020-07-12 07:46] mcollina commented on #2
Would you like to work on it @airhorns ?

[2020-07-13 13:48] airhorns commented on #2
My specific needs are pretty strange sadly. I wish very much there was a docker for OAuth. I found https://github.com/fastify/fastify-passport/pull/3 though which maybe just needs to be pushed over the edge, if I end up going down the passport rabbit hole I'll try to upstream that work.

[2020-09-01 04:48] simov commented on #2
:wave: just wanted to let you know that I just released [Grant](https://github.com/simov/grant) v5.4.0 with a plugin for Fastify

[2020-09-14 13:41] #2 closed

[2020-09-14 13:46] mcollina opened #5 "Broken CI"
It seems CI is broken: https://github.com/fastify/fastify-passport/runs/1112429485.

I think we should skip the `dist/` folder in eslint:

[code]

[2020-09-14 13:46] mcollina commented on #5
@airhorns can you take a look?

[2020-09-14 13:48] fox1t commented on #5
Skipping that folder should fix this issue.

[2020-09-16 14:45] #5 closed

[2020-09-21 13:11] squareloop1 opened #7 "Consider releasing to NPM or adding precompiled dist or removing package.json "files" property"
First off: Great work! Been waiting for something like this and can't wait for the first release.

## 🚀 Feature Proposal

I am currently testing this package locally with NestJS and it is working great so far. However, it is kind of cumbersome to add this package as a dependency. It is currently not released to NPM and the "files" property in the package.json would require a precompiled "dist" dir

[2020-09-21 14:31] RobertLowe commented on #7
@squareloop1 I made a fork you should be able to install via giturl for now: https://github.com/fastify/fastify-passport/compare/master...RobertLowe:master

@fox1t any ETA on release / out of alpha?

@squareloop1 Im also working on using it in nestjs, im interested in how youve implemented it

[2020-09-21 15:00] squareloop1 commented on #7
@RobertLowe cool, I had a quick look at your implementation and I am basically doing exactly the same, except my `createPassportContext` method looks slightly different:
[code]

Currently struggling on how to add the fastify plugins (secureSession & `passport.initialize()`) in the dynamic module. Adding them in the `onModuleInit` didn't work.

I have forked the repo locally myself, but I'd rather

[2020-09-21 15:15] RobertLowe commented on #7
@squareloop1 keep me posted, you can change:

[code]
to
[code]
to bypass the initialize check, there's definitely a better way to do it, i just don't know, I only picked up nestjs yesterday

No clue on secureSession's, keep me up to date 👍

[2020-09-21 15:26] squareloop1 commented on #7
I think we should move our discussion to keep this clear in here and prevent any confusion with the external development using this package that has nothing to do with this issue.

You can find me on the official fastify and nestjs discord. We could discuss the nestjs/fastify-passport development in more detail over there if you'd want to :)

[2020-09-23 08:30] mcollina commented on #7
Released v0.1.0!

[2020-09-23 08:30] #7 closed

[2020-09-23 08:30] mcollina commented on #1
Released v0.1.0 with an initial implementation, thanks everybody!

[2020-09-23 08:30] #1 closed

[2020-11-26 17:17] reilem opened #30 "Incomplete docs for "authenticate" function"
## 🐛 Bug Report

(Sorry if this is not the correct issue type)

The `authenticate` function has an optional callback parameter, but the signature is not provided. Maybe I am not looking carefully, but the docs say "The callback has the following signature", but I can't seem to see the signature anywhere.

I had to look in the source code to find out what was going wrong, and only then realised tha

[2020-11-26 22:07] mcollina commented on #30
Would you like to send a Pull Request to add this to the README?

[2020-11-27 12:18] reilem commented on #30
Sure, I'll see if I have time sometime later today

[2020-12-06 12:59] reilem commented on #30
Sorry for the delay, work was busy but I finally got round to it. 😅 See #35

[2020-12-06 15:06] airhorns commented on #30
Closed by #35

[2020-12-06 15:06] #30 closed

[2020-12-07 07:39] matt212 opened #36 "fastifyPassport.initialize is not a function"
## 🐛 Bug Report

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior:

[code]
## Error FastifyPassport.initialize is not a function
![image](https://user-images.githubusercontent.com/1698139/101323383-97e7e280-388e-11eb-9872-aed54457d69b.png)

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

## Your Env

[2020-12-10 20:17] airhorns commented on #36
Thanks for the bug report. Which version of `fastify-passport` are you experiencing this on?

[2020-12-10 20:39] matt212 commented on #36
Hi @airhorns
So the version as per my install package.json is ^0.1.0
Also on another note Since I was pressed for time I opted by writing up a custom login strategies for my requirement using Fastify decorators and JWT.
Thanks again for Response

[2020-12-10 20:50] airhorns commented on #36
Ok, thanks, and which typescript version are you running on?

[2020-12-10 20:58] matt212 commented on #36
Hi @airhorns
No using typescript

[2020-12-10 21:00] airhorns commented on #36
Oh whoops right, `.js` files. Are you using a packager like webpack or parcel or something like that? What I'm trying to understand is why the way the code is exported works for some folks and not for you and my suspicion is that something in the middle is breaking the exports.

[2020-12-10 21:16] airhorns commented on #36
@fox1t I think but am not sure that this is related to #6 where `esModuleInterop` was disabled. Requiring this package in node returns an object with the `default` key and the `Strategy` key, instead of just the value of the `default` key. I think this is because we're mixing a default export and named exports. Is this something you have experienced in the other packages where you disabled `esModu

[2020-12-10 21:20] matt212 commented on #36
@airhorns   yeah I am not using any packager.
what I can do is paste my
[app.txt](https://github.com/fastify/fastify-passport/files/5675658/app.txt)
app.js and package.json here
[package.txt](https://github.com/fastify/fastify-passport/files/5675663/package.txt)
would that help with your analysis?
Anything else do you require Please let me know
Thanks 👍

[2020-12-12 11:24] Melodyn commented on #36
Hi! My study [project](https://github.com/Melodyn/backend-project-lvl4/blob/b4a93945b7147038176f976eaed39fee44cfcff6/server/app.js#L25) has `esModuleInterop` enabled, but there is the same import problem. I would like you to split imports (`import Strategy from 'fastify-passport/Strategy'`) or make an import of the global object, for example: `export default {passport, Strategy}`. Airbnb does not

[2020-12-15 13:35] fox1t commented on #36
AS far as I know, esModuleInterop should not create this problem. However, it is worth spending some time to dig this down.
@matt212 can you provide a repository that has the minimum reproduction of this issue? It would be helpful for us to start from there.

[2020-12-15 13:43] fox1t commented on #36
Looking better on how we export this https://github.com/fastify/fastify-passport/blob/main/src/index.ts#L5 shows that we are just exporting a `default` property for CJS contexts. So every user that uses CJS context should import this like `const fastifyPassport= require('fastify-passport').default` in order to make it work. I suggest using what I call ".js bridge file" that makes TS modules work b

[2020-12-15 13:43] matt212 commented on #36
Hi @fox1t ,

You could go ahead and use below
created new feature branch `fastify-passport`
https://github.com/matt212/Nodejs_Postgresql_VanillaJS_Fastify/tree/fastify-passport
 since In my platform I opted for custom strategies using JWT, hence the feature branch approach

[2020-12-15 13:44] fox1t commented on #36
Speaking of this, here you are in the TS context with `esModuleInterop: true`, importing from a TS module: https://github.com/fox1t/modules-playground/blob/master/modules/ts-es-module-interop-true/ts.ts

This should just work!

[2020-12-15 13:46] fox1t commented on #36
Can you try to import as `const fastifyPassport= require('fastify-passport').default` and let us know if it fixes this for you?

[2020-12-15 13:54] matt212 commented on #36
Hi @fox1t
it seems to resolve the issue ,
![image](https://user-images.githubusercontent.com/1698139/102223584-ecccce00-3f0a-11eb-98ae-1e019409105d.png)
Thanks for that @fox1t ,
Closing this issue

[2020-12-15 13:54] #36 closed

[2020-12-15 14:04] fox1t commented on #36
@Melodyn I've just seen that your file is a `.js` one, so you are not using any `esModuleInterop: true` since your context is a CJS context and your case is the same as @matt212 one. In fact, your fix is just to add `.default`.

[2020-12-15 14:40] airhorns commented on #36
That makes sense why it wasn't broken for some and broken for others, but, we should probably make it work by default for CJS contexts right?

[2020-12-15 14:43] fox1t commented on #36
Yes, there are 2 viable solutions:
1. adding a  "js bridge file" since TS explicitly doesn't support this functionality. (it leaves only `.default` prop if export default is used)
2. adding namedExport and let the users use a named one in the context that doesn't support `.default` property (CJS and older Node.js versions)

[2020-12-17 09:05] mgcrea opened #51 "[TypeScript] Unable to override type of request.user"
## 🐛 Bug Report

Not sure if this is an actual bug or a typescript misconfiguration on my side but I haven't found a way to properly override the type of the `request.user`, and it is not explained in the docs:

## To Reproduce

Steps to reproduce the behavior:

[code]

Triggers an error:

[code]

## Expected behavior

Working override

## Your Environment

- *node version*: 14
- *fastify-passport

[2020-12-18 16:38] bragovo opened #52 "Flash plugin requires a valid session error"
I'm trying to use this plugin with NestJS. My session works fine.
[code]

But after adding passport I get error "Flash plugin requires a valid session." https://github.com/fastify/fastify-flash/blob/master/src/index.ts#L12
[code]

How I can fix it?

The second question: is it possible to make `fastify-flash` optional? In my project I don't need any flash.

[2020-12-18 16:48] airhorns commented on #52
I am not super familiar with NestJS, but could it be that the session plugin is registered in a different fastify plugin encapsulation context than fastify-passport?

It is possible to make `fastify-flash` optional, no one has done it yet though. Happy to accept a PR! I think it should be required by default in order to maintain as-close-to-passport-as-possible functionality, but disabling it woul

[2020-12-18 17:00] airhorns commented on #51
As the types are right now there is no way to do declaration merging from your own types, you're right. We should change that. I think until https://github.com/microsoft/TypeScript/issues/31894 ships the only way to do it would be to export a type that you declaration merge with like so:

[code]

or something like that. I am not certain that would work but that would solve your problem, right? Als

[2021-01-06 11:12] pandaniell opened #67 "[FSTDEP006] FastifyDeprecation"
This library is not using Fastify's onRequest hook resulting in deprecation warnings in Fastify 3.x

[2021-01-06 16:44] #67 closed

[2021-01-06 16:49] #51 closed

[2021-01-06 18:40] airhorns commented on #52
@bragovo did you ever figure out which side of this setup was causing your issue?

[2021-01-06 18:42] airhorns opened #69 "Release v0.2.0"
@mcollina a few key fixes have landed on `main` that I'd like to release! I thought I might have had publish permissions to the `fastify-passport` npm package but I don't seem to. Would you mind adding me or releasing v0.2.0 (which has been tagged and pushed)? Thanks!

[2021-01-06 21:48] mcollina commented on #69
what's your npm handle? You can also reach me on the Fastify discord server for these kind of things :)

[2021-01-06 22:03] airhorns commented on #69
I'm @airhorns , and ok, thanks!!

[2021-01-06 22:03] #69 closed

[2021-01-07 07:23] bragovo commented on #52
@airhorns unfortunately not, in my case I don't need passport at all :-D
So, I think this issue can be closed.

[2021-01-07 08:10] #52 closed

[2021-01-07 08:59] mcollina commented on #69
I've invited you to the org, let me know.

[2021-01-20 08:03] aspiiire opened #82 "fastifyPassport.initialize is not a function"
As soon as fastifyPassport starts i get "fastifyPassport.initialize is not a function", if a debug fastifyPassport i have only default and strategy present

Steps to reproduce

[code]

- *node version*: 15.0.1
- *fastify version*: >=3.8.0
- *os*: Linux

[2021-01-20 08:27] mcollina commented on #82
Are you using typescript, faux modules (`esm` module or webpack) or native esm?

[2021-01-20 16:56] aspiiire commented on #82
Javascript with webpack

[2021-01-20 17:18] mcollina commented on #82
you are likely having some problems with `import` and that config. Try using require instead.

[2021-01-21 07:23] aspiiire commented on #82
I cannot use require, also in the example it uses import, it should work...

[2021-01-21 11:22] mcollina commented on #82
@fastify/typescript could you take a look at this? I think we should update the readme somehow to show how to use this module with commonjs instead, as `import` can mean so many different things to folks.

I recommend you to check your webpack config and inspect how the final code is actually generated. You might just have to tweak some options to make it work.

[2021-01-21 19:55] aspiiire commented on #82
Thanks you for your help Matteo and also thank for this amazing package

[2021-01-21 23:42] mcollina commented on #82
I didn't write this :). @airhorns did most of the work!

[2021-01-22 07:48] aspiiire commented on #82
Sorry i was talking about fastify

[2021-01-26 19:56] Ethan-Arrowood commented on #82
@aspiiire did you figure out a solution here? If you can share a simplified reproduction that'll help us narrow down the problem you're having

[2021-01-27 07:45] L2jLiga commented on #82
I've faced with same issue using TypeScript -> ESM

[2021-01-27 10:20] #82 closed

[2021-02-03 18:09] mgcrea opened #91 "Move fastify-secure-session dependency to devDependencies"
## 🚀 Feature Proposal

Currently `fastify-passport` has `fastify-secure-session` as a dependency.

However, the package is only ever used to import its types or for testing.

Would be great to move the dep to devDependencies.

## Motivation

You can use `fastify-passport` with another session provider than `fastify-secure-session` (as long as you keep a compatible session API), in that case, `fast

[2021-02-03 18:13] airhorns commented on #91
I think this is a great idea -- my intention was to flesh out the SessionManagers inside `fastify-passport` to explicitly support other session providers as opposed to just assuming they would all support the exact same API. I think it'd be awesome to add explicit support for other session providers in this repo, and I would also accept PRs that let you send in a custom session manager to use what

[2021-02-03 21:46] mgcrea commented on #91
Thanks, I've just sent a PR #92 with only the basic dep -> devDep switch, would be awesome to have it tagged/release soon.

In my case I've designed the lib with the constraint of being hot-swappable with fastify-secure-session, so the current `SecureSessionManager` works for me. But indeed it would be great to promote other session managers, maybe we should start by adding a list of compatible se

[2021-05-26 01:15] torte commented on #52
I know this is closed, but I just ran into the same issue. The problem is that my server does not need the flash plugin (and also not session plugin), so this is quite cumbersome. I can't seem to turn this off as well via passport configuration.

[2021-05-26 01:24] airhorns commented on #52
Yeah, I agree! Want to send a PR? The original `passport` library hardcodes a dependency on a flash system but I think we can do better.

[2021-05-26 03:09] torte commented on #52
@airhorns Yeah, I will have a look at it later.
I can't really see it as a dependency in original passport library, at least not that it is a requirement. Should be the same here I think (same for sessions).

[2021-05-26 06:25] mcollina commented on #52
PRs are welcomed!

[2021-07-03 18:24] daniellwdb opened #239 "passport-auth0 provider callback route not triggered"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

^3.18.1

### Plugin version

_No response_

### Node.js version

16.3.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04

### Description

Using [passport-auth0](https://www.npmjs.com/

[2021-07-09 07:35] mcollina commented on #239
Looks like a nasty bug!

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-17 21:45] RaresAil opened #257 "Error: passport.initialize() plugin not in use"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.1

### Plugin version

0.4.2

### Node.js version

16.4.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

The error location:
```node_modules/fastify-passport/dist/Auth

[2021-07-19 12:56] airhorns commented on #257
Can you provide some more information about how it fails exactly, and maybe an example log at the DEBUG level?

[2021-07-30 11:41] AaronPorts opened #273 "Authenticate callback function does not work"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.2

### Plugin version

0.4.3

### Node.js version

16.2.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Callback in `fastifyPassport.authenticate` function does not t

[2021-07-30 15:09] airhorns commented on #273
I think you need to pass that callback function to the the authenticate handler, not to the route registration. There's two different functions: one passed to `authenticate`, and one passed to the fastify route that deals with the actual request / response once the authentication handler has run. See the readme! Try that out and feel free to reopen if you still can't get it to work.

[2021-07-30 15:09] #273 closed

[2021-08-06 10:09] darkterra opened #286 "Handler does not seem to be called"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.19.1

### Plugin version

0.4.2

### Node.js version

16.5.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

At my company, we decide to move from expressjs to Fastify.

[2021-08-06 10:28] mcollina commented on #286
Can you provide a minimal reproducible example?

[2021-08-06 11:48] darkterra commented on #286
Hello @mcollina,

Yes see this piece of code _("./routes/userR" => piece of code on my precedent post)_ :

[code]

On the Front-End side, it's a simple button in a React WebApp :

[code]

[2021-08-06 13:07] mcollina commented on #286
The reason of something I can just run (after inserting secrets) is that otherwise it would take me too much effort to debug this.

[2021-08-06 14:55] darkterra commented on #286
Ok.

[code]

**index.html** :
[code]

**server.js** :
[code]

Normally this example is equivalent in a simpler version than the original code.

[2021-08-12 18:14] spa5k opened #293 "Use another session manager other than fastify-secure-session"
## 🚀 Feature Proposal
Using another session manager other than the only supported fastify-secure-session.

## Motivation

Motivation is that, one can easily switch to a stateful session manager such as fastify-session and store the sessions on the supported session stores in fastify-session.

## Example
Example will be when people want to use fastify-passport but still want the power to manually c

[2021-08-17 13:26] darkterra commented on #286
Hello,

Do you have an idea on the origin of the bug ?

[2021-08-24 11:09] leorossi commented on #286
@darkterra I did some tests, your code gives me a `TOO_MANY_REDIRECTS` error in chrome, you should user the `preValidation` hook also in the callback route to check against the passport strategy.

The code below is a simplified version of yours, and it prints the user correctly, can you check and see if it solves your problem?

[code]

[2021-09-06 00:09] sorodrigo commented on #257
@RaresAil
I faced this issue and couldn't find a fix so I just abandoned my side project. Months later I gave it another go and I finally cracked it. The problem was that I was creating a custom plugin run everything related to passport in it's own function. If you do this, then you need to tell fastify that you want to keep the same scope.

I fixed it by adding this:
[code]

You can also achieve

[2021-09-07 07:33] mcollina opened #319 "Support @fastify/session out of the box"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

As https://github.com/fastify/session became part of the org, we should list it here as one of the default session manager. I think it would _just_ work, but it still needs tests and docs.

### Motivation

_No response

[2021-09-07 22:33] sorodrigo opened #320 "Request user is null when reading from within Mercurius"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.20.2

### Plugin version

0.4.3

### Node.js version

14.16.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

I've been trying to integrate Mercurius with my Rest

[2021-09-08 06:08] mcollina commented on #320
Could you please upload a runnable example that shows this behavior?

[2021-09-13 11:56] sorodrigo commented on #320
ok I will prepare something do you want a github repo or something else like code-sandbox?

[2021-09-13 12:06] mcollina commented on #320
github repo is better

[2021-09-13 12:13] sorodrigo commented on #320
OK I added you as a collaborator https://github.com/magic-embed/core/blob/master/packages/api/src/setup.ts#L53

[2021-09-13 12:57] mcollina commented on #320
I'm sorry but I am not reviewing private code.

[2021-09-13 13:13] sorodrigo commented on #320
Ok thanks and sorry for that. I'll move it to a public repo this afternoon.

[2021-09-13 23:28] sorodrigo commented on #320
Here's the repro code. https://github.com/sorodrigo/repro-fastify

Again I'm sorry for sending the private repo (is not a work thing it's a pet project) but I thought the real case scenario was maybe more helpful. Hope I wasn't part of the motivation behind [this tweet](https://twitter.com/matteocollina/status/1437455583909748742). I appreciate the help and effort you're putting!

[2021-10-13 09:18] darkterra commented on #286
Hello @leorossi, Thank you a lot for your answare, I made a quick test and it's seem to be working !

I just want to do a another test juste to be sure, and then à close this issue ;)

[2021-10-14 02:37] romgrk-comparative commented on #257
@sorodrigo Eternal thanks for that fix. Would never have found otherwise.

I think there should be more examples to configure different strategies, it's super time-consuming to guess what's the correct incantation to make it work with XxxStrategy.

[2021-10-14 06:55] mcollina commented on #257
I'm not sure what you are doing.

This guide https://www.fastify.io/docs/latest/Plugins-Guide/ should cover the topic.

If you need any more help please include a reproducible example, it'll be quicker to find a solution.

[2021-10-26 14:44] vorillaz opened #376 "`state` for passport causes `fastify-passport` to fail"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

0.4.3

### Node.js version

16.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

macOS Big Sure 11.3.1

### Description

When I am trying to pass some encoded stat

[2021-11-10 08:42] sameer-coder commented on #376
@vorillaz Did you get a chance to work on this one?

[2021-11-18 09:52] PhilipWee opened #385 "Socket IO middleware Support"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Right now fastifyPassport registers as a fastify plugin, but it is incompatible with Socket IO middleware

I don't mind helping to implement this feature

### Motivation

I don't want to have to register the passport s

[2021-11-18 16:01] airhorns commented on #385
Is there anything wrong with registering the strategies twice other than it just being a little annoying? I feel like it would be a bit weird for this library to couple directly to `fastify-socket.io`, it would be really hard for us to maintain integrations with the many plugins in the fastify ecosystem. Also, for what it's worth, `fastify-passport` works fine with `fastify-websocket` as `fastify-

[2021-11-19 06:25] PhilipWee commented on #385
So maybe its a case of fastify-socket.io should use fastify routes for upgrading the initial connextion then

[2021-11-19 06:25] #385 closed

[2021-11-19 13:58] airhorns commented on #385
That definitely would make things easier! We added support for `reply.hijack()` to fastify a while ago to support exactly this -- the request can be a normal request dispatched through the normal fastify hook cycle until one hook decides to take over and do something with it, which `fastify-websocket` does. I am not certain but I think `fastify-socket.io` should be able to do the same!

[2021-11-22 14:09] sameer-coder commented on #376
This seems to be an issue with `fastify-secure-session` and not `fastify-passport`. I tried the snippet above using fastify-session(https://github.com/SerayaEryn/fastify-session) and it seems to work fine. I will dig deeper and try to find the issue.

[2021-12-02 12:33] gasner opened #401 "Local Strategy bad request"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3

### Plugin version

0.4.3

### Node.js version

14

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20

### Description

Hi, I trying to use LocalStrategy.
I succeeded to do login but the o

[2021-12-02 13:08] mcollina commented on #401
Please provide a reproducible example.

[2021-12-05 07:17] gasner commented on #401
[code]

Thanks!

[2021-12-06 15:41] CarleneCannon-Conner commented on #401
Assigning to myself @CarleneCannon-Conner

[2021-12-06 18:11] mcollina commented on #401
go for it!

[2021-12-08 10:11] CarleneCannon-Conner commented on #401
Hi @gasner I have been having a look into this issue.  Am I right in understanding that you want to call `passport.authenticate('local', ...` on  a GET request to obtain user data?

I was able to reproduce the Bad Request as per your example. I found that the error only occurs on GET requests where a `fastifyPassport.authenticate()` is called passing in `passport-local` as a strategy. I then had a

[2021-12-09 10:21] simoneb commented on #376
@sameer-coder are you doing any work on this?

[2021-12-09 10:22] sameer-coder commented on #376
@simoneb I am no longer working on this

[2021-12-12 20:10] simoneb commented on #320
@sorodrigo did you have a chance to take another look at this? If not, I'm going to suggest to close it as stale.

[2021-12-12 21:52] #320 closed

[2021-12-13 09:59] sorodrigo commented on #320
Apologies, I've been slammed at work. Will comment with repro once I can dedicate some time. Thanks!!

[2021-12-15 07:03] sameer-coder commented on #376
I have investigated the issue. `fastify-passport` works fine with `fastify-session` and state. There is an issue with state when `fastify-secure-session` is used but the issue is with the way `passport-oauth2` uses the session and not with `fastify-passport`.
I believe we can close this issue.

[2021-12-15 07:17] mcollina commented on #376
Can you explain how this all work to cause this problem?

[2021-12-15 07:41] climba03003 commented on #376
@mcollina
The underlay issue is how `passport` consumer expect to use `request.session`.
As passport is made for `express`, it expect to directly mutate the `request.session` object.

However, `fastify-secure-session` is expect to use `.get`, `.set`, `.delete` to update the state of `session`.
It lead to the problem, when ever a `passport` strategy that require the usage of `session`, `fastify-sec

[2021-12-15 08:14] mcollina commented on #376
Thanks @climba03003 for summarizing the problem.

The reason why fastify-secure-session offers a get/set/delete methods is to protect against prototype pollution attacks.
Maybe we should add an option there to use a plain object for it. I'm also ok in moving to a plain object, it's not strictly needed anyway and familiarity is likely more important.

It's interesting to note that `@fastify/session

[2021-12-15 08:46] sameer-coder commented on #376
Thanks @climba03003

Thanks @mcollina for the explanation.

So should we move from getter-setter to a plain object approach in `fastify-secure-session`? I can get started on that later today and create a PR soon.

[2021-12-15 08:52] mcollina commented on #376
IMHO I think it would be better to work on https://github.com/fastify/fastify-passport/issues/319 first and see if any changes are needed here. I don't think the OP cares about using fastify-secure-session - we just need to provide a way to be compatible with the rest of the passport ecosystem.

[2021-12-15 08:54] sameer-coder commented on #376
Sure. I will see if there are any needed changes there. Thanks

[2021-12-15 14:44] sameer-coder commented on #319
I have updated the docs and now working on adding some test cases. Right now  `fastify-secure-session`  is used for building the test server and that is used in all the tests. What would be some good tests to add for testing the integration with `@fastify/session`. I was thinking of only adding some specific tests (maybe related to oauth strategies) instead of duplicating all the existing ones wit

[2021-12-15 15:18] mcollina commented on #319
PTAL at https://github.com/fastify/fastify-passport/pull/352

[2021-12-15 15:22] mcollina commented on #319
Adding new tests is ok.

[2021-12-20 09:37] Pazaz commented on #401
Ran into this issue myself... it seems that `passport.authenticate(...)` is used to validate a username/password primarily, and the result gets stored in req.user. Not sure what authInfo does but I get the same bad request error, so I don't think you should call it regularly, unless this is an oversight/break down somewhere. You'll also see req.isAuthenticated() should return true regardless of a

[2021-12-22 10:10] CarleneCannon-Conner commented on #401
Thank you @Pazaz for the additional information. The 'Bad Request' is likely coming form the `Strategy.prototype.authenticate` function [here](https://github.com/jaredhanson/passport-local/blob/master/lib/strategy.js). It expects both a username and a password to be provided via the body or query in the request.

@gasner I hope our input was helpful.

I would like to close this issue.

[2021-12-22 10:35] simoneb commented on #401
Closing

[2021-12-22 10:35] #401 closed

[2021-12-27 04:47] mukeshmohanty623 opened #428 "`Forbidden` error after getting authorization code from okta using `passport-okta-oauth` library as a strategy"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

^3.25.2

### Plugin version

_No response_

### Node.js version

16.13.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.6.1

### Description

I am using OKTA as a authenticator in my proj

[2021-12-27 08:30] mcollina commented on #428
I have a feeling that https://www.npmjs.com/package/passport-okta-oauth is quite old and it's unlikely to work with this module. You might want to fork that and develop your own strategy.

[2021-12-27 08:30] #428 closed

[2021-12-27 09:15] mukeshmohanty623 commented on #428
But this package works fine in express js with passport.js

[2021-12-31 14:33] simoneb commented on #376
Is this being worked on as part of #421?

[2021-12-31 14:34] sameer-coder commented on #376
yes

[2021-12-31 14:35] simoneb commented on #376
Let's link the PR so this issue is closed when the PR is merged then, please. Same with the other issue if not linked already

[2022-01-03 06:22] ash0080 commented on #319
Please do not, I don't want use any session for a JWT scenario

[2022-01-03 06:37] ash0080 opened #435 "Use session or not as an option"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

1. I am writing a hasura side project, in this application scenario, the auth server only provides the remote schema and the necessary redirect url, the user does not have the opportunity to save or use the session, al

[2022-01-03 07:46] climba03003 commented on #435
Please provide repro for your issue.

I can see that you are using `flash` which must need `session`. Please try to explicitly disable the `flash` message in option. i.e. `successFlash` and `failureFlash`

[2022-01-03 15:34] ash0080 commented on #435
fastify-flash is written in the fastify-passport, not as an additional dependency by me

[2022-01-03 16:04] climba03003 commented on #435
That's true, Overlooked the dependencies.
Although, most of strategy from passport require session. I think it is a valuable option.

Would you like to send a PR for this issue?

[2022-01-03 16:07] airhorns commented on #435
`fastify-passport` has an annoying dependency on a flash system as the original passport did as well. I think we could add an option to mimic the normal passport's disable session functionality though. @ash0080 would you like to send a PR to `fastify-passport` adding support for that option that has the same behaviour as the upstream?

[2022-01-03 16:12] ash0080 commented on #435
Although I would like to PR, but recently there are too many side projects in writing, I have actually switched to grant after writing this issue this afternoon, and found that grant is much more controllable than passport, although there is no built-in refreshToken method 🤷

[2022-01-04 13:05] #319 closed

[2022-01-04 13:05] #376 closed

[2022-01-30 04:01] hengnee commented on #286
Hi @darkterra, can this issue finally be closed?

[2022-01-30 07:57] #286 closed

[2022-02-17 14:33] julie-ng opened #473 "passport-github verify callback never called?"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

### Use Case

- An app that will make calls to the GitHub API on behalf of user (e.g. git commits, gists, etc.)
- I want to use the GitHub strategy, both for AutheNtication (who is user?) and AuthoriZation (which repos belonging to user

[2022-02-17 14:36] airhorns commented on #473
Offhand I am not sure why exactly this is happening, but, in my project we're using `passport-github2` which is a maintained fork of `passport-github`, and it seems to work ok with `fastify-passport`! Want to try that one out?

[2022-02-17 15:41] darkgl0w commented on #473
Hello.

can you try with this piece of code :

[code]

It seems that the github auth callback url must call `fastifyPassport.authenticate()` method too.

[2022-02-17 21:21] julie-ng commented on #473
Thanks @darkgl0w! That seems to work. Is there a reason why the callback needs it too? Is there something I missed in the documentation?

[2022-02-17 21:54] darkgl0w commented on #473
No you didn't miss anything. It is the plugin documentation that needs some love. I have spotted some issues that are worth a PR when looking at this issue. 😝

In this particular case the plugin code itself is well commented. 😸

[2022-02-18 16:30] #473 closed

[2022-02-18 17:15] darkgl0w commented on #473
@airhorns yes it is the case for express as well. I will submit a PR to add a note about this.

[2022-02-21 09:12] julie-ng commented on #473
Yeah, documentation can really use from love. I find it detailed - but not in a good way that's easy to sort out, esp. since

- `{ authInfo@ false }` is never explained
- And lines like this are just 😵‍💫 - so many params… and if I wanted to skip `authInfo`, could I? Or do I need an empty object? 🤔
[code]

I'll try to figure out some of this, but it's a struggle right now.

If it's well documented

[2022-02-28 23:25] shakeelosmani commented on #428
Did you figure it out I am on the same boat with Auth0. Here is my code for reference:

[code]

The authentication completes fine on Auth0 side when the callback route is called seeing 403 forbidden error.

As you can see in the image it is also receiving the code on successful callback.

![image](https://user-images.githubusercontent.com/9120484/156075880-3acea48e-dc48-440f-9801-47d363950e24.png)

[2022-03-13 18:13] jonaskello opened #491 "Using fastify-secure-session with openid-client strategy"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I'm trying to use `fastify-secure-session` with [openid-client](https://github.com/panva/node-openid-client) passport strategy.

It redirects correctly to the OIDC provider and redirects back correctly but then I get this error:

[code]

[2022-03-15 11:46] mcollina commented on #491
I think `req.session.set(key, value)` is a fundamentally safer API than `req.session[key]`.

Anyway, I have opened https://github.com/fastify/fastify-secure-session/issues/113 if you would like to take a stab at both.

[2022-04-15 16:17] SKrind0 opened #522 "Failed to serialize user into session"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.28.0

### Plugin version

0.5.0

### Node.js version

17.8.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

21H2

### Description

when i use registerUserSerializer and registerUserDeser

[2022-04-16 19:16] #293 closed

[2022-04-23 23:18] SKrind0 commented on #522
I already resolved it

[2022-04-23 23:18] #522 closed

[2022-04-25 13:31] airhorns commented on #522
What was the issue? Should we add some docs/

[2022-04-27 11:48] xkal36 commented on #491
This functionality is added here: https://github.com/fastify/fastify-secure-session/pull/121

[2022-04-27 14:06] jsumners opened #533 "Cannot publish new module"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Requires a build process that looks for other modules:

[code]

[2022-04-27 14:40] climba03003 commented on #533
Published at https://www.npmjs.com/package/@fastify/passport

[2022-04-27 14:40] #533 closed

[2022-04-28 08:29] #91 closed

[2022-04-28 10:47] simoneb commented on #491
@xkal36 do we need to do any changes in this package to get the new feature in that PR?

[2022-04-28 11:06] xkal36 commented on #491
Not here - when we update the minor version of `fastify-secure-session`, it will be picked up here: https://github.com/fastify/fastify-passport/blob/main/package.json#L51

[2022-04-28 11:10] climba03003 commented on #491
No changes needed, but a test for it are welcome.

[2022-04-28 11:12] simoneb commented on #491
@xkal36 can you take this? ^

[2022-04-28 17:09] xkal36 commented on #491
@jonaskello would you mind adding a reproducible example please? I am trying to add an integration test and I need to see how you create the client and issuer for example.

[2022-04-29 09:24] SKrind0 commented on #522
It was my mistake when using discord-passport without reading the documentation completely 😅 but I already solved it

[2022-05-23 00:21] yorch commented on #320
@sorodrigo seems like your problem is that you haven't add a `preValidation` to your Mercurius plugin (which I'm not sure how to do), so after the login flow is complete and the `session` cookie is there, subsequent requests can still go through the `fastify-passport` flow and get the `user` object populated.

I'm in the process of implementing a similar application with Apollo Server and trying t

[2022-06-28 18:08] louisnk opened #595 "`state` param is not included in the Typescript interface for AuthenticateOptions"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.x

### Plugin version

_No response_

### Node.js version

18.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 22.04

### Description

This is a Typescript bug.

When using the [Pas

[2022-06-28 21:48] louisnk commented on #595
Fixed with #596

[2022-06-28 21:48] #595 closed

[2022-08-03 13:37] mmahkamov opened #627 "Calling Strategy.fail with 2 arguments is misinterpreted by the compiler"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.1

### Plugin version

2.1.0

### Node.js version

16.4.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Here's the declaration of the fail() method in the base St

[2022-08-03 13:42] airhorns commented on #627
Hm, that's strange! My guess is we're doing something wrong with the types where that fail signature you mentioned isn't the one being used within your subclass for some reason. Are you using a strategy subclass from `passport` and not `fastify-passport` perhaps?

[2022-08-03 14:26] mmahkamov commented on #627
@airhorns I've double checked that I'm importing the base Strategy class from @fastify/passport:
[code]

I've also verified that `passport`'s `StrategyCreatedStatic` class has a fixed number of 2 arguments in its `fail()` method:
[code]

We were using `passport` before and it was compiling without errors. Now that we're trying to port the custom strategies to `@fastify/passport` we're facing the i

[2022-08-03 14:53] mmahkamov commented on #627
@airhorns This minimal code example can reproduce the issue:

[code]

[2022-08-03 15:02] mmahkamov commented on #627
@airhorns Simplest repo to reproduce the issue: https://github.com/mmahkamov/fastify-passport-issue-627

Please let me know if I can provide any additional data.

[2022-08-03 15:14] mmahkamov commented on #627
@airhorns Possible solution would be to align the declaration of `fail()` with its definition at https://github.com/fastify/fastify-passport/blob/main/src/AuthenticationRoute.ts#L189

[code]

[2022-08-03 16:08] airhorns commented on #627
Hm, I think that maybe we need to use function overloading in our type signature for `.fail` instead of a union. Want to take a crack at a PR?

[2022-08-03 16:21] mmahkamov commented on #627
@airhorns OK, will create a PR.

Here's the fix I came up with by using intersection instead of a union.

[code]

Output:

[code]

[2022-08-03 17:08] mmahkamov commented on #627
@airhorns Submitted a PR for this issue.

I believe the `failureFlash` option is currently ignored, so passing a message to Strategy.fail() has no effect.

I'll create a separate bug for that.

[2022-08-03 19:12] #627 closed

[2022-08-04 10:19] #491 closed

[2022-08-07 15:28] rohitcoder opened #630 "How to print custom error message instead of default "Unauthorized" or "Bad request""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi,

I'm trying to setup ``@fastify/passport`` with ``@fastify/cookie`` and ``@fastify/secure-session``.  I'm using the local strategy ``passport-local``

After many hits and trials, I was able to set up everything, now only one issue,

[2022-08-08 06:46] mcollina commented on #630
Thanks for reporting!

Can you provide steps to reproduce? We often need a [reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), e.g. some code that allows someone else to recreate your problem by just copying and pasting it. If it involves more than a couple of different file, create a new repository on GitHub and add a link to that.

[2022-08-08 19:11] rluvaton commented on #435
The same issue for me, would love if this could be added :)

BTW, I'm trying to create a new service in our company that uses Fastify (the first one and hopefully can migrate the rest)

[2022-09-29 13:07] mjad218 opened #686 "Fastify Custom Strategy, redirect method not working - TypeError: res.setHeader is not a function"
### Prerequisites

- [X] I have searched existing issues to ensure the bug has not already been reported

- [x] I have written a descriptive issue title

### Fastify version

4.6.3

### Plugin version

_No response_

### Node.js version

16

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11.3

### Description

Hi,
I am trying to develop a custom strategy for Pa

[2022-09-29 14:33] mjad218 commented on #686
I have solved this issue.

Nest.js repo has an issue similar to this. [similar issue](https://github.com/nestjs/nest/issues/5702)

in order to solve this.
I added this code to my application.

[code]

[2022-09-29 14:33] #686 closed

[2022-09-29 17:19] Eomm commented on #686
Not sure what is going on here because I don't see the code that is calling those methods, but that monkey patching smells a bit.
I wonder if `request.res = reply.raw` would be a litter nicer.

[2022-09-29 17:48] mjad218 commented on #686
This called by @nestjs/passport in a Nest.js project.

This enables me to use [Guards](https://docs.nestjs.com/guards).

Regarding the code calling the strategy, you can find it below.
[code]
In the code snippet above, I import the custom strategy that I added to the issue.
[code]

Nest js then takes care of passing the `validate function` to that strategy besides the options object.

You may read